.root {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
  }
  
  .icons {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .content {
    padding: 12px;
  }
  
  .button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
  
  .button {
    width: 70%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 40px;
    background-color: blue;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .button:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  .tab-div {
    padding-bottom: 20px;
  }

  @media (max-width: 1000px) {
    .headline-root {
      background-color: yellow;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 20px 0px;
    }
    .headline-left-box {
      display: flex;
      justify-content: center;
      background-color: red;
      flex-direction: column;
      padding-inline: 2em;
      width: 75%;
    }
    .headline-right-box {
      background-color: green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2em;
    }
  }
  
  .headline-description {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .headline-title {
    font-size: 3em;
    margin: 10px 0;
  }
  
  @media (min-width: 1000px) {
    .headline-root {
      background-color: yellow;
      display: flex;
      justify-content: center;
      margin: 20px 0px;
      padding: 0% 10%;
    }
    .headline-left-box {
      display: flex;
      justify-content: center;
      background-color: red;
      width: 50%;
      flex-direction: column;
      padding-inline: 20px;
    }
    .headline-right-box {
      width: 50%;
      background-color: green;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .headline-button {
    margin-block: 20px;
    max-width: 50%;
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 30px;
    background-color: blue;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .headline-button:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .headline-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  
  