@import '../../index.scss';

.container{
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 991px) {
  .headline-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
  }
  .headline-left-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin-top: 2em;
    margin-left: 1em;
  }
  .headline-right-box {
    margin: 1em;
    display: flex;
    justify-content: center;
  }
  .headline-img {
    height: 500px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .headline-root {
    display: flex;
    justify-content: center;
    margin: 2em 0em;
  }
  .headline-left-box {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    padding-right: 2em;
  }
  .headline-right-box {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .headline-img {
    height: 650px;
    max-width: 100%;
  }
}

.main-info {
> div {
> p {
&:nth-child(1) {
   color: #16fcd2;
   font-weight: 250;
   font-size: 24px;
   letter-spacing: 0.1em;
   line-height: 32px;
 }

&:nth-child(2) {
   color: #ffffff;
   font-weight: 500;
   font-size: 34px;
   line-height: 54px;
 }
}

div {
p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 250;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1em;
}
}
}
}

.project-selection-text-container > p:nth-child(1) {
  margin-top: 50px;
  color: #16fcd2;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 32px;
}

.project-selection-container .project-selection-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/img/Project-selection.png);
  height: 350px;
  width: 50%;
}
.project-selection-container .project-selection-text {
  width: 50%;
}
.project-selection-container .project-selection-text p:nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}
.project-selection-container .project-selection-text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}

.detail-report-container .detail-report-image {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/Detail-report.png);
  background-size: contain;
  height: 385px;
  width: 50%;
}
.detail-report-container .detail-report-text {
  width: 50%;
}
.detail-report-container .detail-report-text p:nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}
.detail-report-container .detail-report-text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}


.tier-system-container .tier-system-image {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/Tierless.png);
  background-size: contain;
  height: 385px;
  width: 50%;
}
.tier-system-container .tier-system-text {
  width: 50%;
}
.tier-system-container .tier-system-text p:nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}
.tier-system-container .tier-system-text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 570px) {
  .team-text,
  .work-text {
    width: 100% !important;
  }
}

.cards-container > div {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  flex-basis: 0;
}
.cards-container > div > p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.cards-container > div > p:nth-child(3) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
.cards-container > div > div {
  display: inline-block;
  color: white;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 3px;
}
@media (max-width: 991px) {
  .cards-container {
    flex-direction: column;
  }
  .cards-container > div {
    margin-right: 0 !important;
  }
  .work-image,
  .team-image {
    height: 320px !important;
  }
}