.navbar{
    /*background-color: red;*/
}

.navbar-brand{
    /*background-color: violet;*/
}

.navbar .navbar-nav {
    /*background-color: yellow;*/
    width: 100%;
}


.nav-button{
    /*background-color: darkgreen;*/
    display: flex;
    margin-left: auto;
}