@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

.app-wrapper {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/img/main-bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
