.app-wrapper {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/img/main-bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
